body {
  margin: 0;
  font-family: "Noto Serif JP", sans-serif;

  line-height: 1.6;
  background-color: #ffffff;
  color: #333349;
}

.opening {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: openingFade 3s forwards;
}

.opening-logo {
  color: white;
  font-size: 52px;
  letter-spacing: 4px;
  opacity: 0;

  animation: logoFade 2s ease forwards;
}

.hero {
    height: 200vh;
    width: 100%;
    position: relative;

    background-image: url("images/background.jpg");
    background-size: 200%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: black;

}

.hero-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  color: rgb(240, 74, 41);
  text-align: center;
  opacity: 0;
  z-index: 10000;
}

.hero-content h1 {
  font-family: "Yu Mincho", "YuMincho", Georgia, serif;
  font-size: 70px;
}

.hero-content p {
  font-family: "Kaisei Decol", sans-serif;
  font-size: 50px
}

.about {
  min-height: 100vh;
  padding: 80px;
  background: white;
  color: black;
  font-family: "Yu Mincho", "YuMincho", Georgia, serif;

}


header {
  position: sticky;
  top: 0;
  z-index:1000;

  background-color: #1b2344;
  color: #d8d8eb;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}h1 {
  color: white;
  margin-left: 50px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  transform: translateY(5px);
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #8fb4e8;
  color: white;
}

button:hover {
  background-color: #656977;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 10px);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(31, 20, 183, 0.273);
  box-sizing: border-box;
}

section:not(.hero) {
  padding: 50px 20px;
  margin: auto;
  font-family: "Yu Mincho", "YuMincho", Georgia, serif;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}

section {
    scroll-margin-top: 80px;
}

html {
    scroll-behavior: smooth;
}

#File{
  background-color: #0a3a51;
  max-width: 1000px;
}

#団体概要{
  background-color: #e0e2e3;
}

#団体概要 h2{
  text-align: center;
}

#団体概要 p{
  text-align: left;
  margin-left: 580px;
  margin-right: 40px;
}

#試し{
  display: flex;
  flex-direction: column;   /* 縦に並べる */
  justify-content: center;  /* 縦方向中央 */
  align-items: center;      /* 横方向中央 */

  min-height: 50vh;
  text-align: center;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: inline-block;
    margin: 5px 10px 5px 0;
  }

  .hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .hero-content h1 {
    font-size: 36px;
    margin-right: 10px;
  }

  .hero-content p {
    font-size: 16px;
  }

  section:not(.hero) {
    padding: 50px 20px;
    max-width: 100%;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  iframe {
    height: 400px;
  }
  
  #団体概要 h2{
  text-align: center;
  }

  #団体概要 p{
  margin-left: 10px;
  margin-right: 10px;
  }

}