body {
  margin: 0;
  font-family: "Noto Serif JP", sans-serif;

  line-height: 1.6;
  background-color: #ffffff;
  color: #21212a;
}

.opening {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: openingFade 3s forwards;

  pointer-events: none;
}

.opening-logo {
  color: white;
  font-size: 70px;
  letter-spacing: 4px;
  opacity: 0;

  animation: logoFade 2s ease forwards;
}

.hero {
  height: 220vh;
  width: 100%;
  position: relative;

  background-image: url("images/background.jpg");
  background-size: 200%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: black;
}

.hero-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  color: rgb(204, 198, 198);
  text-align: center;
  opacity: 0;
  z-index: 10000;
}

.hero-content h1 {
  font-family: "Yu Mincho", "YuMincho", Georgia, serif;
  font-size: 70px;
}

.hero-content p {
  font-family: "Kaisei Decol", sans-serif;
  font-size: 50px
}

header {
  position: fixed;
  top: -100px;
  left: 0;
  z-index:1000;

  color: #d8d8eb;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  width: 100%;
  height: 100px; /* 100vhではなく80px */
  
  background: rgba(24, 23, 23, 0.9);
  transition: top 0.9s ease;
}

header.show {
  top: 0;                   /* 表示 */
}

h1 {
  color: white;
  margin-left: 50px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 15px;
  display: inline-block;
  transform: translateY(30px)
}

#about {
  min-height: 60vh;
  padding: 100px;
  padding-top: 300px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Yu Mincho", "YuMincho", Georgia, serif;
  h2 {font-size: 50px;}
  h3 {font-size: 30px;}
  p {font-size: 18px;}
}

/*footer {
  text-align: center;
  padding: 20px;
  background-color: #c4daf9;
  color: white;
}*/

button:hover {
  background-color: #656977;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 10px);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(31, 20, 183, 0.273);
  box-sizing: border-box;
}

section:not(.hero) {
  padding: 50px 20px;
  margin: auto;
  font-family: "Yu Mincho", "YuMincho", Georgia, serif;
}
section {
    scroll-margin-top: 80px;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}

html {
    scroll-behavior: smooth;
}

#研修センター紹介{
  background-color: #d9d9dc;
  text-align: center;
}

.title研修 {
  text-align: left;
}
.title研修 h2 {
  display: inline-block;

  margin-top: 20px;
  margin-left: 50px;
  font-size: 30px;

  border-bottom: 3px solid #464242;
  padding-bottom: 5px;
}

#研修センター紹介 h3 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 8px;
}

.理念 {
  line-height: 3;
  font-size: 16px;
  padding-bottom: 100px;
}


.福山 h3 {
  text-align: center;
}

.content {
  gap: 40px;
  align-items: center;
}
.images{
  padding: 20px;
  align-items: center;
}

.茨城 {
  padding-top: 50px;
  margin-bottom: 30px;
}

#研修センター紹介 img {
  width: 300px;
  border-radius: 10px;
}

#外国人技能実習制度 {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  padding: 30px;
  margin-top: 70px;
  margin-bottom: 100px;
}

#関係 {
  padding: 100px;
  background-color: #cacad0

}
#関係-row {
  margin-left: 15%;
  font-family: "Zen Maru Gothic", cursive;
  display: flex;
  align-items: flex-start;
  gap: 60px;
  margin-bottom: 50px;
}

#関係-row h2 {
  width: 200px;
  margin: 0;
  font-size: 20px;
  flex-shrink: 0;
}

#関係-row p{
  margin: 0;
  font-size: 20px;
  flex: 1;
}

#外国人特定技能制度 {
  padding: 100px;
}

#File{
  background-color: #ffffff;
  /*max-width: 1000px;*/
}

#File h2{
  margin-left: 20%;
}

#File .card-container{
  margin-left: 24%;
  margin-right: 24%;
}

#お問い合わせ{
  background-color: #b1b1b1;
}

#お問い合わせ h2{
  text-align: center;
}

#お問い合わせ {
  text-align: center;
}

#お問い合わせ p{
  display: inline-block;
  text-align: left;
}


@media (max-width: 768px) {
  .opening {
    align-items: center;
  }

  .opening-logo {
    align-items: center;
    font-size: 60px;
  }

  .hero {
    height: 150vh;
    background-size: cover;
    background-position: center;
  }

  .hero-content h1 {
    font-size: 65px;
  }

  .hero-content p {
    font-size: 25px;
  }

  section:not(.hero) {
    padding: 50px 20px;
    max-width: 100%;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;

    height: auto;
    top: 0;
    transform: translateY(-150%);
    transition: transform 0.9s ease;
  }

  header.show {
    transform: translateY(0);
  }

  header nav {
    transform: translateY(15px);
  }

  .about {
    min-height: 60vh;
    padding: 70px;
    padding-top: 300px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Yu Mincho", "YuMincho", Georgia, serif;
    h2 {font-size: 38px;}
    h3 {font-size: 25px;}
    p {font-size: 18px;}
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: inline-block;
    margin: 5px 10px 5px 0;
  }

  .File h2{
    margin-left: 10%;
  }

  .File .card-container{
    margin-left: 14%;
    margin-right: 14%;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  iframe {
    height: 400px;
  }
  
  #お問い合わせ h2{
  text-align: center;
  }

  #お問い合わせ p{
  margin-left: 10px;
  margin-right: 10px;
  }

}